/* Reset and Base Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}




/* Mobile Devices (up to 600px) */
@media (max-width: 600px) {

    .swiper-container {
        width: 100%;
        max-width: 600px; 
        margin: 0 auto;
    }
    
    .swiper-slide {
    text-align: center;
    padding: 20px;
    background-color: orange;
    border: 1px solid white;
    }

    header h1 {
        margin: 0;
        color: black;
    }

    body {
        background-color: yellow;
    }

    main {
        padding: 2rem;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    h2 {
        font-size: 24px;
    }

    label {
        font-size: 24px;
        display: inline-block;
        width: 150px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: left;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        width: 90%;
        padding: 1rem;
        margin-bottom: 1rem;
    }

    input[type="radio"] {
        margin-top: 0;
        margin-bottom: 2rem;
        width: 24px;
    }
}

/* Tablet & Desktop (601px and above) */
@media (min-width: 601px) {

    .swiper-container {
        width: 100%;
        max-width: 600px; 
        margin: 0 auto;
    }
    
    .swiper-slide {
    text-align: center;
    padding: 20px;
    background-color: rgb(89, 89, 228);
    border: 1px solid white;
    }

    .one, .two, .three{
        grid-column: 1/ span 2;
    }

    header h1 {
        color: white;
    }

    body {
        font-size: 20px;
        background-color: #3498db;
    }

    main {
        padding: 2rem;
        max-width: 600px;
        margin: auto;
    }

    form {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: repeat(4, 1fr);
    }

    h2 {
        font-size: 20px;
        color: white;
        grid-column: 1/ span 2;
    }

    label {
        font-size: 20px;
        display: inline-block;
        width: 150px;
        text-align: left;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        width: 60%;
        padding: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
    }

    input[type="radio"] {
        width: 1.5rem;
    }
}

header {
    text-align: center;
    padding: 2rem;
}

input[type="submit"] {
    background-color: grey;
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
